body {
    background: #282828;
}

#grid {
    position: relative;
    width: 60%;
    margin: 0 auto;
    padding: 0; /* clears unordered list default of 40px */
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

#grid li {
  list-style-type: none; /* removes bullet point marker */
  position: relative;
  float: left;
  width: 27.85714285714286%;
  padding: 0 0 32.16760145166612% 0; /* generate a fluid height value based on the containers width */
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  background-color: #fd005f;
  overflow: hidden;
  visibility: hidden;
}

#grid li .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* height & width both set to 100% to ensure the final shape has the same height and width of the <li> element */
    height: 100%;
    background: #fdbf00;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
}

#grid li * {
  visibility: visible;
}

#img {
  background-image: url(image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* give the grid a honeycomb effect by adding spaces between the hexagons */

/* horizontal spacing around the middle hexagon based on 3 hexagons per row */
#grid li:nth-child(3n+2) {
  margin: 0 1%;
}

/* move every other row */
#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
    -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

/* extra nudge to give every other row equal spacing */
#grid li:nth-child(6n+4) {
  margin-left: 0.5%;
}
